.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    text-indent: 2rem;
}

.about-me {
    background: #FFFFFF;
}

.aboutme__info {
    margin: 112px auto 91px auto;
    width: 540px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}