@import "reset.css";
@import "header.css";
@import "main.css";
@import "projects.css";
@import "video.css";
@import "footer.css";
@import "modal.css";

* {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    font-size: 16px;
}

.header__item > a {
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.header__item > a:hover {
    letter-spacing: 0.5rem;
}

.container {
    max-width: 1920px;
    margin: auto;
    padding: 0 405px;
}
